################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/RPI/FileContentIndex
/.vs/RPI/v17
/.vs
/.cache
/dist
/node_modules
